<p id="notice"><%= notice %></p>

<h3><%= @comunidade.titulo %></h3>
<p><%= @comunidade.descricao %></p>

<%= link_to 'Edit', edit_comunidade_path(@comunidade) %> |
<%= link_to 'Back', comunidades_path %>
